@charset "utf-8";
p {
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 18px;
    width:600px;
    background-color: antiquewhite;
    padding: 20px;
}
h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:cadetblue;
}
span {color:rgb(255, 0, 255);}
body{
    background-image: url("slike/slika\ 3.jpg");
}
a{
    color: black;
background-color:white;
padding:5px;
line-height: 25px;
border: 1px solid black;
}
a:hover{
    background-color:gray;

}